<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SQR -->
    <meta charset="utf-8">
    <title>GYM_UPC</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="12">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">


                    <h1 class="text-light display-3 mb-3"><img class="img-fluid"
                            src="{{ url_for('static', filename='img/LOGO-UPC.png') }}"></h1>
                    <h3 class="text-light mb-3">Bienvenido</h3>
                    <h2 class="text-light typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Asistente GYM UPC</div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="/" class="btn btn-primary py-3 px-4 me-5">Regresar</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container mt-5 text-light" style="background-color: rgba(36, 27, 27, 0.5);">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <h2 class="text-light">Calculadora de IMC</h2>
                                <form id="imcForm">
                                    <div class="mb-3">
                                        <label for="alturaInput" class="form-label">Altura (metros)</label>
                                        <input type="number" step="0.01" class="form-control"
                                            id="alturaInput" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pesoInput" class="form-label">Peso (kg)</label>
                                        <input type="number" step="0.01" class="form-control" id="pesoInput"
                                            required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Calcular IMC</button>
                                </form>
                                <div id="resultado"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Header End -->


    <script>
        document.getElementById('imcForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar que se recargue la página al enviar el formulario

            const altura = parseFloat(document.getElementById('alturaInput').value);
            const peso = parseFloat(document.getElementById('pesoInput').value);

            // Realizar una petición fetch para llamar al archivo calICM.py en el servidor
            fetch('/calcular-imc', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        altura: altura,
                        peso: peso
                    })
                })
                .then(response => response.json())
                .then(data => {
                    // Mostrar los resultados obtenidos
                    document.getElementById('resultado').innerHTML =
                        `<p>Tu IMC: ${data.imc.toFixed(2)}</p><p>${data.estadoPeso}</p>`;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/typed/typed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>